<?xml version="1.0"?>
<robot>

<material name="red">
   <color rgba="0.8 0.0 0.0 1.0"/>
</material>

<material name="Grey">
   <color rgba="0.6 0.6 0.6 1.0"/>
</material>

<material name="Black">
 	<color rgba="0.0 0.0 0.0 1"/>
</material>


<material name="Blue">
 	<color rgba="0.0 0.0 1.0 1"/>
</material>

 		<material name="Wood">
 			<color rgba="1 0.88 0.56 1"/>
        	</material>


</robot>
