<?xml version="1.0"?>
<launch>

	<arg name="gui" 		default="False" />

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find table_description)/urdf/big_table.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>


	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node pkg="tf" type="static_transform_publisher" name="big_table_broadcaster" args="0 0 0 0 0 0 1 world table_top 100" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find table_description)/launch/rviz/big_table.rviz" required="true" />

</launch>
